body, html {
    background-color: rgba(111,20,12,255);
    margin: 0;
}

header {
    background-color: white;
}

nav {   
    display: flex;
    justify-content: space-around;
}

nav a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 32px;
    color: black;
    margin: 1ch;
    font-family: 'Gilda Display', serif;
    margin-bottom: 7px;
}

nav > a:hover {
    color: rgba(111,20,12,255);
}
nav > a {
    transition: color .5s;
}
.logo-ralf {
    width: 8ch;
}

.move-down {
    padding-top: 1.5ch;
}

.words-appt h1 {
    margin: 0;
}
.car {
    background-image: url(../images/clean-car1.jpg);
    height: 600px;
    background-size: cover;
    background-repeat: no-repeat;
    width: 98ch;
    float: right;
}

.words-appt {
    float: left;
    background-color:rgba(111,20,12,255);
    color: white;
    font-family: 'Gilda Display', serif;
    text-align: center;
    transform: translate(1ch, 27ch);
}

.words-appt h1 {
    font-size: 5ch;
}

.words-appt p {
    font-size: 3ch;
    margin: 0;
    margin-bottom: 2ch;
}

.words-appt a {
    color: black;
    background-color: white;
    text-decoration: none;
    padding: 2ch;
    border-radius: 2ch;
}
